<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-6">{{ message }}</div>
            <div class="col-md-6">{{ myMessage }}</div>
        </div>

    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hello , this is my message
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen"> Now you see me </span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.title }}
            </li>
        </ol>

    </div>
    <script src="src/app.js"></script>
</body>
</html>
